---
layout: page
title: About Me
header: About Me
group: navigation
---
{% include JB/setup %}

Hi,
<br><br>
I'm Lucas. I program computers. Sometimes I break them.
<br><br>
The opinions on this blog are strictly my own. There is absolutely no affiliation with my employer.
<br><br>
If you feel the need to contact me, you can do so on Twitter.
<br><br>
<a class="twitter-timeline" href="https://twitter.com/n3ko101" data-widget-id="605499940886982656">Tweets by @n3ko101 </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
