---
layout: page
title: About Me
header: About Me
group: navigation
---
{% include JB/setup %}

Hi,
<br><br>
I'm currently working on the C++ toolchain of a multi-million LoC product. On the side I dabble in security research. I started this blog to share my experience with the OSCP certification and the struggles to get it. Life happened and so it should remain the only one for some years. Going forward this blog will be my personal thinkpad for some of the things I work on, so mostly CTF and wargame write-ups, as well as large-scale C++ development.<br><br>
Oh and I fullfilled a life long dream and finally completed and released a game. It's for Google's Cardboard VR and you can find it on the Google Play Store for free: <a href="https://play.google.com/store/apps/details?id=com.bader.vr.quadertrash" target="_blank">QuaderTrash VR</a>
<br><br>
The opinions on this blog are strictly my own. There is absolutely no affiliation with my employer.
<br><br>
If you feel the need to contact me, you can do so on Twitter.
<br><br>
<a class="twitter-timeline" href="https://twitter.com/n3ko101" data-widget-id="605499940886982656">Tweets by @n3ko101 </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
