---
layout: page
title: About Me
header: About Me
group: navigation
---
{% include JB/setup %}

Hi,
<br><br>
I'm a programmer / geek / hacker interested in too many things for my own good. Coding up and down the stack, reverse engineering, software (in-)security, music,
game and VR development just to name a few. I started this blog to share my experience with the OSCP certification and the struggles to get it. A lot happened in my
life since that post and so it should remain the only one for two years. Going forward this blog will be my personal thinkpad with everything that I dabble in.<br><br>
Oh and I fullfilled a life long dream and finally completed and released a game. It's for Google's Cardboard VR and you can find it on the Google Play Store for free: <a href="https://play.google.com/store/apps/details?id=com.bader.vr.quadertrash" target="_blank">QuaderTrash VR</a>
<br><br>
The opinions on this blog are strictly my own. There is absolutely no affiliation with my employer.
<br><br>
I'm constantly trying to improve my writing. So, if you have any suggestions or feedback contact me via twitter!
<br><br>
<a class="twitter-timeline" href="https://twitter.com/n3ko101" data-widget-id="605499940886982656">Tweets by @n3ko101 </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>
